/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/
.command-detail {
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--color-background-box);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.command-detail-title {
    font-family: var(--font-title);
    font-size: var(--font-size-nav-h2);
    margin-bottom: 1rem;
    font-weight: bold;
}

.command-detail-list {
    padding-top: 2rem;
    /*
    padding-bottom: 1rem;
    */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.command-detail-info {
    padding-left: 6rem;
    display: flex;
    gap: 6rem;
    padding-bottom: 3rem;
}

.command-total {
    color: var(--color-dark-green);
    font-weight: bold;
}

.command-detail-card {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-dark-green);
    padding: 1rem;
    gap: 2rem;
}


.command-detail-card-left {
    flex-shrink: 0;
}

.command-product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.command-detail-card-center {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.command-detail-card-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 🔥 aligne verticalement en bas */
    align-items: flex-end;     /* aligne horizontalement à droite */
    min-width: 120px;
    font-size: 1.4rem;
    line-height: 1.6;
}