/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

/*!* Variables CSS *!*/
:root{
    --font-logo: Mayonice, Arial, Helvetica, sans-serif;
    --font-title: Louis George Cafe, Arial, Helvetica, sans-serif;
    --font-text: latoregular, Arial, Helvetica, sans-serif;
    --font-size-nav-logo : 4.8rem;
    --font-size-nav-h2 : 2rem;
    --font-size-body : 1.6rem;
    --font-size-baseline : 3.6rem;
    --font-size-h2 : 3.2rem;
    --color-text-main: #141414;
    --color-text-secondary: #FFFFFF;
    --color-dark-grey: #D9D9D9;
    --color-light-grey : #F6F6F6;
    --color-dark-green : #0E492D;
    --color-light-green : #76AC93;
    --color-dark-brown : #65594C;
    --color-light-brown : #ECD0B3;
    --color-dark-orange : #E9B885;
    --color-light-orange : #F4E7DB;
}

/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/
/* ---modif font-size du html pour utiliser rem en base 10--- */
html {
    font-size: 62.5%;
}

body {
    /*background-image:
        url("/public/assets/images/round-high-left.png"),
        url("/public/assets/images/round-high-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left -100px , right -100px ;
    background-size: 40%, 30%;*/
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    line-height: 150%;
    color: var(--color-text-main);
}

.background-shapes {
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image:
            url("/public/assets/images/round-high-left.png"),
            url("/public/assets/images/round-high-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left -100px, right -100px;
    background-size: 40%, 30%;
    /*pointer-events: none;*/
}


section {
    padding-inline: 10%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* ---- GLOBAL UPPERCASE ----*/
.global-uppercase {
    text-transform: uppercase;
}

/* ---- GLOBAL TEXT CENTER ---- */
.text-center {
    text-align: center;
}

/* ----- SR ONLY ----- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/* ----- GLOBAL BUTTONS -----*/

.global-btn-primary {
    padding: 1.2rem 3.2rem;
    border: 1px solid var(--color-dark-green);
    border-radius: 30px;
    background-color: var(--color-dark-green);
    color: var(--color-light-orange);
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.global-btn-primary:hover {
    background-color: var(--color-light-orange);
    color: var(--color-dark-green);
}

.global-btn-secondary {
    padding: 1.2rem 3.2rem;
    border: 1px solid var(--color-dark-green);
    border-radius: 30px;
    background-color: var(--color-dark-orange);
    color: var(--color-text-main);
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.global-btn-secondary:hover {
    background-color: var(--color-dark-green);
    color: var(--color-light-orange);
}

.global-btn-primary,
.global-btn-secondary {
    display: inline-block;
}

/*.global-btn-primary:focus,
.global-btn-secondary:focus {
    outline: 2px solid var(--color-dark-green);
    outline-offset: 4px;
}*/

/* ----- GLOBAL BOX ----- */
.global-box {
    /*background-color: rgba(0, 0, 0, 0.05);*/ /*Noir*/
    background-color: rgba(217, 217, 217, 0.3); /*Gris foncé*/
    /*background-color: rgba(246, 246, 246, 0.6);*/ /*Gris clair*/
    /*background-color: rgba(255, 255, 255, 0.5);*/ /*Blanc*/
    padding: 6rem 20%;
    /*
    max-width: 600px;
    */
    margin: 0 auto;
    border-radius: 2rem;
    /*
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    */
}


/* ----- GLOBAL LINKS ----- */
.global-link {
    display: inline-block;
    align-self: flex-start;
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    color: var(--color-text-main);
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.global-link:hover {
    transform: scale(1.05);
    color: var(--color-dark-green);
}

/* ----- GLOBAL INPUTS ----- */
.global-label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font: var(--font-text);
    color: var(--color-text-main);
}

.global-input {
    width: 100%;
    box-sizing: border-box;
    padding-block: 1rem;
    padding-left: 3.2rem;
    border-radius: 3rem;
    border: 1px solid var(--color-dark-green);
    font-size: var(--font-size-body);
    font: var(--font-text);
    color: var(--color-text-main);
    transition: border 0.3s ease, outline 0.3s ease;
}

.global-input:focus {
    outline: 2px solid var(--color-dark-green);
    outline-offset: 2px;
}

.global-input::placeholder {
    color: var(--color-text-main);
    font: var(--font-text);
    font-size: var(--font-size-body);
    opacity: 0.6;
}


/* ----- GLOBAL SECTION ----- */

.global-section {
    max-width: 1200px;
    /*margin: 0 auto;*/
    padding-top: 4rem;
    /*
    padding-inline: 10%;
    */
    /*text-align: center;*/
    font-family: var(--font-text);
    min-height: 110vh;
}

.global-section-title {
    font-family: var(--font-title);
    font-size: var(--font-size-baseline);
    text-align: center;
    color: var(--color-text-main);
    margin-bottom: 0.5rem;
    /*letter-spacing: 1px;*/
    position: relative;
}

.global-section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 1.5rem auto 0;
    background-color: var(--color-dark-green);
}

.global-section-subtitle {
    margin-bottom: 6rem;
    text-align: center;
    color: var(--color-text-main);
    font-size: var(--font-size-body);
}



/* ----- GLOBAL MESSAGES ----- */
.global-msg-success {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1.2rem 2rem;
    border-left: 5px solid var(--color-dark-green);
    background-color: rgba(0, 128, 0, 0.05);
    color: var(--color-text-main);
    font: var(--font-text);
    font-size: var(--font-size-body);
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
}

.global-msg-error {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1.2rem 2rem;
    border-left: 5px solid var(--color-dark-orange);
    background-color: rgba(233, 184, 133, 0.3);
    color: var(--color-text-main);
    font: var(--font-text);
    font-size: var(--font-size-body);
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
}