/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

/*!* Variables CSS *!*/
:root{
    --font-logo: Mayonice, Arial, Helvetica, sans-serif;
    --font-title: Louis George Cafe, Arial, Helvetica, sans-serif;
    --font-text: latoregular, Arial, Helvetica, sans-serif;
    --font-size-nav-logo : 4.8rem;
    --font-size-nav-h2 : 2rem;
    --font-size-body : 1.6rem;
    --font-size-baseline : 3.6rem;
    --font-size-h2 : 3.2rem;
    --color-text-main: #141414;
    --color-text-secondary: #FFFFFF;
    --color-dark-grey: #D9D9D9;
    --color-light-grey : #F6F6F6;
    --color-dark-green : #0E492D;
    --color-light-green : #76AC93;
    --color-dark-brown : #65594C;
    --color-light-brown : #ECD0B3;
    --color-dark-orange : #E9B885;
    --color-light-orange : #F4E7DB;
}

/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/
/* ---modif font-size du html pour utiliser rem en base 10--- */
html {
    font-size: 62.5%;
}

body {
    /*background-image:
        url("/public/assets/images/round-high-left.png"),
        url("/public/assets/images/round-high-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left -100px , right -100px ;
    background-size: 40%, 30%;*/
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    line-height: 150%;
    color: var(--color-text-main);
}

.background-shapes {
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image:
            url("/public/assets/images/round-high-left.png"),
            url("/public/assets/images/round-high-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left -100px, right -100px;
    background-size: 40%, 30%;
    /*pointer-events: none;*/
}


section {
    padding-inline: 10%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}