/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    padding-inline: 10%;
    border-radius: 0px 0px 100px 100px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-family: var(--font-title);
    font-size: var(--font-size-nav-h2);
}

.navbar a {
    /*border: 1px solid black;*/
    /*display: flex;*/
    flex-direction: column;
    /*justify-content: center;*/
    text-decoration: none;
    color: var(--color-text-main);
}

.navbar button {
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    padding: 5px 10px;
    color: var(--color-text-secondary);
    background-color: #0E492D;
    font-family: var(--font-title);
    font-size: var(--font-size-nav-h2);
}

.navbar button a {
    color: var(--color-text-secondary);
}

.nav-logo {
    font-family: Mayonice, Arial, Helvetica, sans-serif;
    font-size: var(--font-size-nav-logo);
}

.nav-logo a {
    text-decoration: none;
    color: var(--color-text-main);
}

.nav-cart-logo:before{
    font-family: 'picto';
    content: '\e800';
}

.nav-profil-logo:before{
    font-family: 'picto';
    content: '\e801';
}