/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/
.product-card {
    /*padding-inline: 2rem;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border-radius: 30px;
    overflow: visible;
    background-color: var(--color-dark-grey);
}

.product-card:hover {
    transform: scale(1.1);
    background-color: var(--color-dark-green);
    color: var(--color-text-secondary);
}

.product-card a {
    text-decoration: none;
    color: var(--color-text-main);
}

.product-card:hover h3,
.product-card:hover p,
.product-card:hover a,
.product-card:hover .product-btn button {
    color: var(--color-text-secondary);
}

.product-card:hover .product-btn button {
    border: 1px solid var(--color-text-secondary);
    background-color: transparent;
}

.product-image {
    position: absolute;
    top: -6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.product-image img {
    /*
    width: 150px;
    */
    height: auto;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.1) translateY(-10px);
}

.product-content {
    padding-inline: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.product-info {
    margin-top: -4rem;
    padding-bottom: 1rem;
}

.product-info h3 {
    font-family: var(--font-title);
    font-size : 2.4rem;
    /*text-align: center;*/
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.product-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.product-price p:first-of-type {
    font-style: italic;
}

.product-price p:last-of-type {
    font-weight: bold;
}

.product-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-btn button {
    font-family: var(--font-text);
    font-size: var(--font-size-body);
    padding: 1.2rem 3.2rem;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid var(--color-text-main);
    color: var(--color-text-main);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product-card .product-btn button:hover {
    background-color: var(--color-text-secondary) ;
    color: var(--color-dark-green) ;
}

.details-btn {
    display: inline-block;
    transition: transform 0.3s ease;
}

.details-btn:hover {
    transform: scale(1.1);
}
