/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

.product-list {
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 304px;
    height: 366px;
    border-radius: 20px;
    background: var(--color-dark-grey);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

