/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem 10rem;
    /*padding: 4rem 2rem;*/
}

.product {
    width: 304px;
    height: 366px;
    border-radius: 30px;
    margin-top: 12rem;
    /*background: var(--color-dark-grey);*/
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
}

