/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

.section-products {
    padding-bottom: 6rem;
}

.section-products-title {
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    font-family: var(--font-title);
    font-size: var(--font-size-baseline);
    text-align: center;
}

.section-products-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--color-dark-green);
    margin: 1.5rem auto 0;
}

.section-products-subtitle {
    text-align: center;
    color: var(--color-text-main);
    margin-bottom: 3rem;
}