/* ---IDIOMATIC CSS--- */
/*  Positioning (position, z-index, top, right, bottom, left...)
    Display & Box Model (display, overflow, box-sizing, width, height, padding, border, margin...)
    Other (background, color, font-family, font-size, text-align...)
*/

.section-search-page {
    padding-bottom: 6rem;
}

.no-product {
    padding-top: 6rem;
}


/* ------------------------ */
/* ----- MEDIA QUERIES ---- */
/* ------------------------ */

/* Tablette */
@media (max-width: 1024px) {
    .global-section {
        min-height: auto;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .global-input {
        margin-bottom: 3rem;
    }
}